
body{
margin: 0px;
padding: 0px;
text-align: center;

}   

.logo {
  position: fixed; 
  z-index: 1;
  left: 0;

}

.navbar{
    width: 100%;
    height: auto;
    padding: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 179px;
    flex: 0 0 179px;
    margin-left: 200px;
    position: fixed;
    z-index: 1;
    background-color: white;
}

.spacer{
    height: 40px;
    width: 100%;  
}

.fixed-header, .fixed-footer{
  width: 100%;
  position: fixed;        
  padding: 10px 0;
  color: #fff;
  background:white;
}

.fixed-header{
  top: 0;
}




.flex-container{
    display: block;
    position: fixed; /* For creating fixed header */ 
    font-size:1vw;
    padding: 20px 15px;
    text-align: center;
    background:white;
    width: 100%;

    }



/*ul {

   padding : 0 ;
   margin: 0 0 0 150px;
   list-style: none;
   
}*/

/*li {

    float: left;
}
*/


.logo {
    float: left;
    margin-left: -10px;
    margin-top: -20px;
    z-index: 1;
    
  }
    

    .buttons{
        display: block;
        margin: 5px;
        padding: 5px;
        font-size: 20px;
        margin-top: 40px ;
        float: left;   /* for horizontal alighning */
        color: black;        

    }


/* Change background color of buttons on hover */
.buttons:hover {
    color:orange ;
    background-color: rgba(235, 228, 228, 0.938);
    transition: 0.7s;
    text-transform: uppercase;
    box-shadow: 10px 10px 10p black; /*shadow & blur effect*/
    list-style-type: none;
    cursor: pointer;

    }

    .buttons:hover .dropdown-content {
        display: block;
        list-style-type: none;
        
    
        }
 
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: hsla(0, 26%, 95%, 0.924);
            min-width: 150px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 2;
            text-align: left;
            
                         }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            font-size: 12px;
                          }


h1{
  color: orange;
  font-family: verdana;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  font-size:2vw;

}

h2{
    color: orange;
    font-family: verdana;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-size:2vw;
  }

p{
    color: black;
    font-family: verdana;
    font-size: 30px;
    text-align: center;
    font-size:2vw;

}

image{
width: 100%;
}

.sec1{
    display: block;
    text-align: center;
    font-size: 30px ;
    padding: 100px;
    font-size:2vw;
}

.sec-2 {

    color: black;
    font-size: 20px;
    text-align: center;
    padding: 50px ;
    margin: 0px;
    background-color: white;
    font-size:2vw;
    
}

.sec-3 {

    color: black;
    font-size: 15px;
    text-align: center;
    padding: 200px ;
    margin: 0px;
    font-size:2vw;
    background-color: #fdf5f5e7;

}

.sec-4{

height: 100px; /* setting dev. size */ 
width: 100%;   /* setting dev. size */ 
color: orange;
font-size: 30px;
font-weight: bold;
background-image: url("");
text-align: center;
/* vertical-align: center; */

}



.row {    /* create image side by side */

display: flex;
text-align: center;

}


 
    .column {
      width: 100%;
      padding: 5px ; 
      margin: 10px;
      text-align: center;
      flex: 33.33%;

    }
  

  /* OR .column {
      width: 100%;
      padding: 5px ; 
      margin: 10px;
      text-align: center;
      flex: 33.33%;

    } */



.sector {

    color: orange;
    font-size: 70px ;
    margin: 0px;
    text-align: center;
    font-size:2vw;
}




/*slider images */ 


* {box-sizing:border-box}
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    margin-right: -40px;  /* How to adjust button location Automatic  ?? */
    margin-left: -550px; /* How to adjust button location Automatic  ?? */ 
    padding: 16px;
    color: orange;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


/* Footer */ 

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}


.footer-distributed{
  background-image: url(" ../images/footer.jpg");
  opacity: 0.9;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font:  15px sans-serif;
  padding: 40px 40px;
  bottom: 0px;

  
}

.footer-left,.footer-center,.footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-left{
  width: 35%;
}

.footer-left i{
	background-color:  #33383b;
	color: #ebecf0;
	font-size: 20px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: left;
	line-height: 30px;
	margin: 10px 15px;
  vertical-align: middle;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-links{
	color:  #3fadec;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-company-name{
	color:  #222;
	font-size: 10px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-center{
  width: 35%;
}

.footer-center i{
	background-color:  #33383b;
	color: #4d58f3;
	font-size: 20px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	margin: 10px 15px;
  vertical-align: middle;
}

 .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-center p{
	display: inline-block;
	color: #f7f6fa;
  font-weight:400;
	vertical-align: middle;
  margin:0;
  font-size: 25px;
}

.footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-links .link-1:before {
  content: none;
}

/* Footer Right */

 .footer-right{
	width: 20%;
}

.footer-company-about{
	line-height: 20px;
	color:  #f0f3f7;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}


.footer-icons {

  color: white;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) { /* important */ 

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-left,
	.footer-center,
	.footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
	}

	.footer-center i{
		margin-left: 0;
	}

}

#copyright {
  font-size: 15px;
  height: 10px;
  width: 100%;
  color: white;
  
}


/* About Us Styling */ 

* {
  box-sizing: border-box;
}

.content {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -450px;
  align-content: flex-start ;
  gap: 50px;
  margin-left: 450px; /* Same as the width of the sidenav */
  font-size: 25px;
  z-index: -1;
  
}


.content p {

  font-size: 20px;
  color: black;
  text-align: left;
  bottom: 0px;
  z-index: -1;
}

.title {

  min-height: 100%;
  max-width: 200px;
  color: rgb(10, 10, 10);
  font-size: 40px;
  font-display: bold;
  border: orange solid 5px;
  background-color: rgb(241, 237, 237);
  border-radius: 20px 10px 20px 10px ;
  
}

.about-image {
  z-index: -1;
  margin-bottom: 50px;
  margin-left: 20vh;
  vertical-align: top;
}


h3 {
font-size: 40px;
color: black;
padding: gray;
text-align: center;
font-weight: bold;

}

.sidenav {

    min-height:100vh;
    max-width: 30%;
    position: sticky;  /* to be replaced */ 
    z-index:-1;
    top: 140px;
    left: 0px;
    background-color: rgba(228, 225, 225, 0.87);
    padding-top: 20px;
    overflow-x: hidden; 
  }
    

  .sidenav ul {
    list-style-type: none;
    padding: 20px;
  }

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  list-style-type: none;
  
}

/* When you mouse over the navigation links, change their color */
.sidenav ul:hover {
  color: orange;
}

